node_modules
/secrets.txt
/public/bundle.css
/public/bundle.js
/public/bundle.js.map

# Editor directories and files
.DS_Store
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
!.vscode/tasks.json